<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>建筑幕墙鉴定智能工作系统</title>
		
		<!--引入layui-->
		<link rel="stylesheet" href="../assets/layui-v2.2.5/layui/css/layui.css" />
		<link rel="stylesheet" href="../assets/font-awesome-5.9.0/css/fontawesome-all.css" />
		<link rel="stylesheet" href="../assets/zTree_v3-master/css/zTreeStyle/zTreeStyle.css" type="text/css">
		<script type="text/javascript" src="../assets/jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../assets/layui-v2.2.5/layui/layui.js"></script>
		<script type="text/javascript" src="../assets/zTree_v3-master/js/jquery.ztree.all.js"></script>
		<script type="text/javascript" src="../assets/xtree/layui-xtree.js"></script>
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
			<!--头部-->
			<div class="layui-row top-header" id="header">
				
			</div>
			<!--顶部导航-->
			<div class="layui-row north-nav" id="top_navbar">
				
			</div>			
			
			<!--主体内容-->
			<div class="layui-row">				
				<!--menu菜单-->
				<div id="menu_sidebar">
					
				</div>
                <!--面包屑导航-->
                <div class="layui-row breadcrumb">
                    <i class="fa fa-compass"></i> 
                    <span>当前位置：</span><div class="level1" style="display: inline-block;"></div><div class="level2" style="display: inline-block;"></div>
                </div>
				<!--工作区-->
				<div class="work-area" id="work_area" style="margin: 0px 0px 0px 220px;">
					
				</div>
			</div>
			
			<!--页脚-->
			<div class="layui-row footer" id="footer">
				
			</div>
            <!--模态框-->
            <div class="layui-row model" id="model">
            
            </div>
		</div>		
	</body>
	<object classid="clsid:0272DA76-96FB-449E-8298-178876E0EA89"
      id="ePass" name="ePass" style="left: 0px; top: 0px" width="0"
      height="0">
    </object>
	<!--主页面加载完成后执行-->
	<link rel="stylesheet" href="../css/main.css" />
	<script type="text/javascript" src="../assets/jsviews/jsviews.min.js" ></script>
	<script type="text/javascript" src="../js/main.js" ></script>
	<script type="text/javascript" src="../js/common.js" ></script>
    <script type="text/javascript" src="../js/temple_syxx.js" ></script>
    <script type="text/javascript" src="../js/temple_ypxx.js" ></script>
	<!-- flash -->
	<script type="text/javascript" src="../assets/flash/scripts/jquery.js"></script>
	<script type="text/javascript" src="../assets/flash/scripts/swfobject.js"></script>
	<script type="text/javascript" src="../assets/flash/scripts/hhhtc.js"></script>
	<!-- 字典 -->
	<script type="text/javascript" src="../js/dictionary.js" ></script>
</html>
